@import url('https://fonts.cdnfonts.com/css/inter');

html {
  font-size: 16px;
  box-sizing: border-box;
  overflow-y: visible;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'JetBrains Mono';
  src:
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2')
      format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff')
      format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@supports (font-variation-settings: normal) {
  body {
    font-family: 'Inter var', sans-serif;
  }
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: normal;
}
